{% load static %}
<html>
    <head>
        <title>Blog de Tecnologia</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Blog de Tecnologia</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                        {% if post.published_date %}
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>